<%= form_for(@vehicle) do |f| %>
  <% if @vehicle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@vehicle.errors.count, "error") %> prohibited this vehicle from being saved:</h2>

      <ul>
      <% @vehicle.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :brand %><br>
    <%= f.text_field :brand %>
  </div>
  <div class="field">
    <%= f.label :model %><br>
    <%= f.text_field :model %>
  </div>
  <div class="field">
    <%= f.label :year %><br>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :odometer_reading %><br>
    <%= f.number_field :odometer_reading %>
  </div>
  <div class="field">
    <%= f.label :energy_type %><br>
    <%= f.text_field :energy_type %>
  </div>
  <div class="actions">
    <%= f.submit "Submit", class: "btn btn-large btn-primary"%>
  </div>
<% end %>
