<p id="notice"><%= notice %></p>
<h1>Vehicle Maintenance Record</h1>
<h2><%= @vehicle.year %> <%= @vehicle.brand %> <%= @vehicle.model %></h2>



<table>
    <thead>
    <tr>
        <th>Part</th>
        <th>Cost</th>
        <th>Date Completed</th>
        <th>   </th>
        <th>Options</th>
    </tr>
    </thead>

<div id="repairs">
     <% @vehicle.repairs.each do |repair| %>
        <tr>
            <td><%= repair.part %></td>
            <td>$<%= repair.cost %></td>
            <td><%= repair.date_completed %></td>
            <td><%= link_to 'Edit', edit_vehicle_repair_path(:vehicle, repair) %></td>
            <td><%= link_to 'Delete', repair, method: :delete %></td>
      </tr>
    <% end %>
</div>
</table>


<%= link_to 'Add Record', new_vehicle_repair_path(@vehicle), class:"button" %>
<%= link_to 'Back', vehicles_path, class:"button" %>
