<%= form_for([@vehicle, Repair.new]) do |f| %>
    <p>
        <%= f.label :part, "Vehicle Part" %>
        <%= f.text_field :part %> <br/>
        <%= f.label :cost, "Total Cost" %>
        <%= f.text_field :cost %><br/>
        <%= f.label :date_completed, "Date of Work Completion" %>
        <%= f.date_field :date_completed %><br/>
    </p>
    <p><%= f.submit "Submit"%></p>
<% end %>