<h1>Listing repairs</h1>

<table>
  <thead>
    <tr>
      <th>Part</th>
      <th>Cost</th>
      <th>Date completed</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @repairs.each do |repair| %>
      <tr>
        <td><%= repair.part %></td>
        <td><%= repair.cost %></td>
        <td><%= repair.date_completed %></td>
        <td><%= link_to 'Show', repair %></td>
        <td><%= link_to 'Edit', edit_repair_path(repair) %></td>
        <td><%= link_to 'Destroy', repair, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


