<p id="notice"><%= notice %></p>

<p>
  <strong>Part:</strong>
  <%= @repair.part %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @repair.cost %>
</p>

<p>
  <strong>Date completed:</strong>
  <%= @repair.date_completed %>
</p>

<%= link_to 'Edit', edit_repair_path(@repair) %> |
<%= link_to 'Back', repairs_path %>
