<header class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <div class="container">
            <%= link_to "auto tracker", vehicles_path, id: "logo" %>
        </div>
    </div>
</header>