<!DOCTYPE html>
<html>
<head>

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<%= render 'layouts/header'%>
<body>

<%= yield %>

</body>
</html>
